DB_HOST=localhost
DB_PORT=5432
DB_NAME=attendance_db
DB_USER=admin
DB_PASSWORD=changeme
KAFKA_BOOTSTRAP=localhost:9092
AWS_BUCKET=attendance-data-lake
GCP_PROJECT=attendance-project
AIRFLOW_HOME=./airflow
